
<div class="ui-g company-header">
    <div class="ui-g-12 ui-md-6" style="text-align: left;">
        Company List
    </div>
    <div class="ui-g-12 ui-md-6" style="text-align: right;">
        <button pButton type="button" label="Add" (click)="handleAddCompanyClick()" ></button>
    </div>
</div>
<p-dataView #dv [value]="companies" layout="grid" [alwaysShowPaginator]="false" [paginator]="true" 
    [rows]="12" paginatorPosition="bottom" filterBy="name, address.country" [sortField]="sortField" 
    [sortOrder]="sortOrder" emptyMessage="No Company record found.">
    <p-header>
        <div class="ui-helper-clearfix"> 
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6" style="text-align: left;">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by Name and Country" (input)="dv.filter($event.target.value, 'contains')" style="width: 100%">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4" style="text-align: center;">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Group By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                
                
            </div>
        </div>
    </p-header>

    <ng-template let-company pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel header="{{company.name}}" [style]="{'text-align':'center','cursor':'pointer'}" (click)="selectCompany($event, company.companyId)">
                <img src="assets/image.jpeg" width="60">
                <div class="company-detail">
                    <div>{{company.cnyType}}</div>
                    <div>{{company.address.country}}</div>
                </div>
                <hr class="ui-widget-content" style="border-top:0">
            </p-panel>
        </div>
    </ng-template>

</p-dataView>