<div class="row">  
  <div class="col-md-4 login-container">    
    <p class="login-title">Login </p>
    <form class="form-area" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error"
          *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username
          is required</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error"
          *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password
          is required</div>
      </div>
      <button class="btn login-button">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
    <div>
      <div class="login-bottom">
        <input type="checkbox">
        <span class="">Keep Sign in</span>
        <span class="forgot-password">Forgot Password?</span>
      </div>
    </div>
  </div>
</div>