<form [formGroup]="consultantForm" (ngSubmit)="onSubmit(consultantForm.value)">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-4" >
                        <button pButton type="button" icon="pi pi-arrow-left" label="Back" (click)="backToConsultantList()" class="ui-button-info" ></button>
                    </div>
                
                    <div class="ui-g-12 ui-md-4" >
                        <span class="ui-panel-title" style="font-size:16px;">{{consultantForm.get('firstName').value}} {{consultantForm.get('lastName').value}}</span>                
                    </div>

                    <div class="ui-g-12 ui-md-4" >
                        <p-splitButton icon="pi pi-exclamation-circle" label="Action" [model]="actionItems" ></p-splitButton>
                    </div>

                </div>
            </div>


        </p-header>
        
        <p-tabView>

            <p-tabPanel header="Personal Information">
                
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>First Name</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="firstName" placeholder="Required"/>                            
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="First Name is required" *ngIf="!consultantForm.controls['firstName'].valid&&consultantForm.controls['firstName'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Last Name</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="lastName" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Last Name is required" *ngIf="!consultantForm.controls['lastName'].valid&&consultantForm.controls['lastName'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Gender</strong></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="genderOptions" formControlName="gender" placeholder="Required" ></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Gender is required" *ngIf="!consultantForm.controls['gender'].valid&&consultantForm.controls['gender'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Marital Status</strong></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="maritalStatusOptions" formControlName="maritalStatus" placeholder="Required" ></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Marital Status is required" *ngIf="!consultantForm.controls['maritalStatus'].valid&&consultantForm.controls['maritalStatus'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Address 1</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="address1" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Address 1 is required" *ngIf="!consultantForm.controls['address1'].valid&&consultantForm.controls['address1'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Address 2</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="address2" placeholder=""/>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Postal Code</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="postalCode" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Postal Code is required and should be numeric" *ngIf="!consultantForm.controls['postalCode'].valid&&consultantForm.controls['postalCode'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>City</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="city" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="City is required" *ngIf="!consultantForm.controls['city'].valid&&consultantForm.controls['city'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Country</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="country" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Country is required" *ngIf="!consultantForm.controls['country'].valid&&consultantForm.controls['country'].dirty"></p-message>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Photo</strong></div>
                        <div class="ui-grid-col-6">
                        <p-fileUpload mode="basic" name="photo[]" customUpload="true" url="./upload.php" accept="image/*" 
                                      maxFileSize="1000000" (uploadHandler)="onUploadEvent($event)"></p-fileUpload>
                        </div>
                    </div>
            
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Professional Information">
               <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">  
                
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Job Title</strong></div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="titleOptions" formControlName="title" placeholder="Required" ></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Job Title is required" *ngIf="!consultantForm.controls['title'].valid&&consultantForm.controls['title'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Email</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="email" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="A valid Email is required" *ngIf="!consultantForm.controls['email'].valid&&consultantForm.controls['email'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Phone</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="phone" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Phone is required and should be numeric" *ngIf="!consultantForm.controls['phone'].valid&&consultantForm.controls['phone'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Availability Date</strong></div>
                        <div class="ui-grid-col-6">
                            <p-calendar formControlName="availabilityDate" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>LinkedIn URL</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="linkedInUrl" placeholder=""/>
                        </div>
                    </div>
               </div>
            </p-tabPanel>
            
    
            <p-tabPanel header="Resume">
                
            </p-tabPanel>
        </p-tabView>

        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-2" >
                    <button pButton type="submit" icon="pi pi-thumbs-up" label="Save" class="ui-button-raised" [disabled]="!consultantForm.valid"></button>
                </div>

                <div class="ui-g-6 ui-md-2" >        
                    <button pButton type="button" icon="pi pi-ban" label="Clear" class="ui-button-raised ui-button-info" (click)="clearForm($event)"></button>
                </div>
            </div>
        </div>

        <p-footer>
            
        </p-footer>

        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
            Form Submitted
            <br>
            {{diagnostic}}
        </div>
    </p-panel>
</form>


