<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">

                    <div class="ui-g-12 ui-md-4" >
                        <button pButton type="button" icon="pi pi-arrow-left" label="Back" (click)="gotoList()" class="ui-button-info" ></button>
                    </div>
                
                    <div class="ui-g-12 ui-md-4" >
                        <span class="ui-panel-title" style="font-size:16px;">{{employeeForm.get('firstName').value}} {{employeeForm.get('lastName').value}}</span>                
                    </div>

                    <div class="ui-g-12 ui-md-4" >
                        <p-splitButton icon="pi pi-exclamation-circle" label="Action" [model]="actionItems" ></p-splitButton>
                    </div>

                </div>
            </div>


        </p-header>
        
        <p-tabView>

            <p-tabPanel header="Personal Information">
                
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>First Name</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" [(ngModel)]="employee.firstName" formControlName="firstName" placeholder="Required"/>                            
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="First Name is required" *ngIf="!employeeForm.controls['firstName'].valid&&employeeForm.controls['firstName'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Last Name</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" [(ngModel)]="employee.lastName" formControlName="lastName" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Last Name is required" *ngIf="!employeeForm.controls['lastName'].valid&&employeeForm.controls['lastName'].dirty"></p-message>
                        </div>
                    </div>
            
                </div>
            </p-tabPanel>
    
            <p-tabPanel header="Professional Information">
               <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">  
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Email</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" [(ngModel)]="employee.emailId" formControlName="email" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="A valid Email is required." *ngIf="!employeeForm.controls['email'].valid&&employeeForm.controls['email'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Phone</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" [(ngModel)]="employee.phone" formControlName="phone" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Phone is required and should be numeric." *ngIf="!employeeForm.controls['phone'].valid&&employeeForm.controls['phone'].dirty"></p-message>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>User Name</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="userName" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="User name is required." *ngIf="!employeeForm.controls['userName'].valid&&employeeForm.controls['userName'].dirty"></p-message>
                        </div>
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><strong>Password</strong></div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="password" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Password is required." *ngIf="!employeeForm.controls['password'].valid&&employeeForm.controls['password'].dirty"></p-message>
                        </div>
                    </div>
               </div>
            </p-tabPanel>
        </p-tabView>

        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-2" >
                    <button pButton type="submit" icon="pi pi-thumbs-up" label="Save" class="ui-button-raised" [disabled]="!employeeForm.valid"></button>
                </div>

                <div class="ui-g-6 ui-md-2" >        
                    <button pButton type="button" icon="pi pi-ban" label="Clear" class="ui-button-raised ui-button-info" (click)="onReset()"></button>
                </div>
            </div>
        </div>

        <p-footer>
            
        </p-footer>

        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
            Form Submitted
            <br>
            {{diagnostic}}
        </div>
    </p-panel>
</form>


