host ::ng-deep button {
    margin-right: .25em;
  }
  :host ::ng-deep .custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
  }
  :host ::ng-deep .custom-toast .ui-toast-message div {
    color: #ffffff;
  }
  :host ::ng-deep .custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
  }
.sidenav-container {
    width: 100%;
    height: 100%;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }
  .header-nav {
    background-color: #4b094b;
  }
  .btn-sidenav{
    width: 250px;
  }

  .btn-icon{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }

  .drop-down-nav-icon{
    float: right;
    margin-right: 1px;
    margin-top: 10px;
  }

  .primary-color{
    color: #4b094b;
  }
  .secondary-color{
    color: aliceblue;
  }
  .btn-txt{
    float: left;
    margin-left: 5px;
  }

  .drop-nav-btn {
    /* float: right;
    margin-right: 10px; */
    border: 1px solid aliceblue;
  }
  
