<nav class="navbar  header-nav navbar-dark" *ngIf="isUserLoggedIn">
  <div class="row">

    <button type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons secondary-color" >widgets</i>
    </button>
    <h2 class = "secondary-color" style="text-align: center;">{{title}}</h2>

  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu" class="drop-nav-btn">
      <span class="secondary-color">Welcome user</span>
      <i class="material-icons secondary-color">keyboard_arrow_down</i>
    </button>
    <mat-menu  #menu="matMenu">
      <button  mat-menu-item>
        <span class="primary-color">Settings</span>
        <i class="material-icons primary-color drop-down-nav-icon">settings</i>
      </button>
      <button  (click)="logout(); drawer.close();" mat-menu-item>
        <span class="primary-color">Logout</span>
        <i class="material-icons primary-color drop-down-nav-icon">power_settings_new</i>
      </button>
    </mat-menu>
  </div>
  
</nav>


  
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="logo-nav">
      <img src="./assets/dynadmin.png">
    </div>
    <br>

    <div> <button type="button" mat-button class="btn-sidenav"  [routerLink]="'consultants'"> 
       <i class="material-icons btn-icon primary-color">business_center</i>
       <span class="btn-txt primary-color">Consultant</span> </button>
    </div>
   
    <div> <button type="button" mat-button class="btn-sidenav" [routerLink]="'companies'"	> 
      <i class="material-icons btn-icon primary-color">business</i>
      <span class="btn-txt primary-color">Company</span> </button>
   </div>
   
   <div> <button type="button" mat-button class="btn-sidenav"  [routerLink]="'employees'"> 
    <i class="material-icons btn-icon primary-color">person</i>
    <span class="btn-txt primary-color">Employee</span> </button>
 </div>

 <div> <button type="button" mat-button class="btn-sidenav"> 
  <i class="material-icons btn-icon primary-color">assignment</i>
  <span class="btn-txt primary-color">Contract</span> </button>
</div>

  </mat-drawer>
<div class="card">
  <div class="sidenav-content">
    
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<p-toast></p-toast>
<!-- Footer -->
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://dynamix-it.be/home/"> dynamix-it.be</a>
    </div>
  </footer>
  <!-- Footer -->
</mat-drawer-container>


